@import "../omarchy/current/theme/waybar.css";
@import "theme-colors.css";

* {
  border: none;
  font-family: "SpaceMono Nerd Font Mono";
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  background: @surface0;
  padding: 2px 10px;
  margin: 8px 3px;
  border-radius: 14px;
  box-shadow: 2px 3px 3px black;
  margin-right: 12px;
}

.modules-center {
  background: none;
  box-shadow: 0 0 0 transparent;
}

#workspaces {
  margin: 8px 8px;
  padding: 0px 2px;
  background: @surface0;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: 2px 3px 3px black;
  /* border: 1px solid @teal; */
}

window#waybar {
  background: none;
}

window#waybar #window {
  background: @surface0;
  padding: 2px 10px;
  margin: 8px 3px;
  border-radius: 14px;
  box-shadow: 2px 3px 3px black;
}

/* Hide the window title when no windows are open */
window#waybar.empty #window {
  background: @surface0;
  padding: 2px 10px;
  margin: 8px 3px;
  border-radius: 14px;
  box-shadow: 2px 3px 3px black;
}

#workspaces button.empty {
  color: @text;
}

/* workspaces with windows in them */
#workspaces button {
  color: @red;
  border: none;
  background: none;
  padding: 3px 8px;
  border-radius: 4px;
  margin: 4px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.visible {
  background: transparent;
  color: @green;
}
#workspaces button.urgent {
  background: @base;
  color: @red;
  text-decoration: underline;
}

/* #workspaces button.persistent { */
/*   color: @yellow; */
/* } */

#workspaces button.active {
  background: @base;
  color: @green;
}

#workspaces button:hover {
  color: @green;
  background: @crust;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 5px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: @red;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: @red;
}
